<!-- The following is from the base.html, which ensures the navbar will be on each page without duplicate code -->
{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<!-- Jinja2 sorcery to display flash messages -->
<div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash-messages">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% if reg_message %}
    <div class="flash-message">
        {{ reg_message }}
    </div>
    {% endif %}

    <h1 class="center-heading">Welcome to the Metro U Astronomy Portal</h1>

    <br><br>
    <p>Welcome to the Metro University Observatory and Planetarium interface. Here, post grads
        and professors may sign up for a variety of activities. See below for links to each
        department.</p>
    <h2>Our Services</h2>
    <p>If you have a research plan and you're working on your thesis, you may sign up for time on our
        large-aperture telescope!</p>
    <p>Another opportunity-- You can help budding young astronomers find their calling, or recruit STEM
        students to the field! Take the controls of the largest Planetarium in the Generic
        Region! <br> People skills and patience are a must!</p><br>
    <ul>
        <li><a href="/telescope_time">Sign up for Telescope Time</a></li>

        <li><a href="/planetarium">Volunteer for the Planetarium</a></li>
    </ul>
    <h3>Our Friends</h3>
    <p>Some great places online we'd love to share with you--</p><br>
    <ol>
        <li><a href="https://www.jwst.nasa.gov/">The James Webb Telescope</a></li>
        <li><a href="https://www.astronomycast.com/">The Astronomy Cast Podcast</a></li>
        <li><a href="https://apod.nasa.gov/apod/astropix.html">Astronomy Pic of the Day</a></li>
    </ol>

    <div class="image-container">
        <img src="/static/images/image1.jpg" alt="Image 1">
        <img src="/static/images/image2.jpg" alt="Image 2">
        <img src="/static/images/image3.jpg" alt="Image 3">
        <img src="/static/images/image4.jpg" alt="Image 4">
        <img src="/static/images/image5.jpg" alt="Image 5">
    </div>



    <div class="time-strip">
        <!-- Display current date and time with seconds truncated -->
        <p>Current Date and Time: {{ current_time.strftime('%Y-%m-%d %H:%M') }}</p>
    </div>
    <br><br>

    <br>
    <!-- <script src="scripts.js"></script> -->
</div>
{% endblock %}