<!-- The following is from the base.html, which ensures the navbar will be on each page without duplicate code -->
{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<!-- Jinja2 sorcery to display flash messages -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="flash-messages">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<div id="copy-container"
    <div class "homeBody"
</div>

{% endblock %}