<!-- The following is from the base.html, which ensures the navbar will be on each page without duplicate code -->
{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<!-- Jinja2 sorcery to display flash messages -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="flash-messages">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<div id="copy-container" class="homeBody">
    
    <h1 class="center-heading">Welcome to the Metro U Astronomy Portal</h1>

    <br><br>
    <p>Welcome to the Metro University Observatory and Planetarium interface. Here, post grads
        and professors may sign up for activities. See nav bar above to see links to each department.</p>
        <br>
    <h2>Our Services</h2>
    <p>If you have a research plan and you're working on your thesis, you may sign up for time on our
        large-aperture telescope! <br>
        Just use the "Reserve a Telescope" link above.</p>
    <p>Also, you can help budding young astronomers find their calling, or recruit STEM
        students to the field! Take the controls of the largest Planetarium in the Generic
        Region! <br> 
        Use the "Planetarium" link above to reserve a time slot.
        
    <br> </p><br>

    <h3>Our Friends</h3>
    <p>Some great places online we'd love to share with you--</p>
    <ol>
        <li><a href="https://www.jwst.nasa.gov/">The James Webb Telescope</a></li>
        <li><a href="https://www.astronomycast.com/">The Astronomy Cast Podcast</a></li>
        <li><a href="https://apod.nasa.gov/apod/astropix.html">Astronomy Pic of the Day</a></li>
    </ol>

    <div class="image-container">
        <img src="/static/images/image1.jpg" alt="Image 1">
        <img src="/static/images/image2.jpg" alt="Image 2">
        <img src="/static/images/image3.jpg" alt="Image 3">
        <img src="/static/images/image4.jpg" alt="Image 4">
        <img src="/static/images/image5.jpg" alt="Image 5">

</div>

<div class="time-strip">
    <!-- Display current date and time with seconds truncated -->
    <p>Current Date and Time: {{ current_time.strftime('%Y-%m-%d %H:%M') }}</p>
</div>
<br><br>

<br>
<div class="logout-link">
    <a href="{{ url_for('logout') }}">Logout</a>
</div>
<div class="logout-link">
    <p>Password reset is available  <a href="{{ url_for('update_password') }}">Here.</a></p>
</div>
<!-- <script src="scripts.js"></script> -->

{% endblock %}