<!-- The following is from the base.html, which ensures the navbar will be on each page without duplicate code -->
{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<!-- Jinja2 sorcery to display flash messages -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="flash-messages">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<!-- Wrap the content in a container for layout -->
<div class="content-container">
    <!-- Text content to the right of the image -->
    <div class="text-content">
        <h1 class="text-5xl center-heading py-5">Volunteer for the Planetarium</h1>
        <br>
        <p>We know your time is valuable. Any time you can donate to help us with student outreach
            would be much appreciated! 30 to 40 students will be bussed from a state school to our
            Science Museum, where you'll have a three-hour block of time with them. Lesson plan
            and Planetarium routine are completely up to you! If you're
            comfortable, we ask that you then spend some time fielding questions about your
            career and the subject of your presentation.</p>
        <p>Complete the form to volunteer for the planetarium. Complete the form to volunteer for the planetarium. For
            "Availability," we are asking for a general wedge of time, after which we will contact you for specifics.
        </p>
    </div>
</div>

<div id="full-reg-card-planetarium" class="grid grid-flow-row-dense grid-cols-4 grid-rows-1 rounded-md">
    <div id="reg-left-panel-planetarium" class="col-span-2">
        <form id="planetarium-form" class="space-y-6 bg-transparent my-20" method="post">
            <div class="flex flex-col">
                <div class="text-center">
                    <h1>Be An Inspiration!</h1>
                    <br>
                    <p>Join us in inspiring children with the wonders of the universe.</p>
                </div>
                <div class="form-field">
                    <label for="Desired Date" class="accessibility-hidden"
                        aria-label="Enter Desired Date">Username</label>
                    <br>
                    <div class="reg-input">
                        <input name="date" id="date" placeholder="Desired Date" required>
                    </div>
                </div>
                <div class="form-field">
                    <label for="Desired Time" class="accessibility-hidden" aria-label="Enter Desired Time">Name</label>
                    <br>
                    <div class="reg-input">
                        <input placeholder="Desired Time" name="time" id="time" required>
                    </div>
                </div>
            </div>
            <input id="submit-btn" class="btn btn-orange" type="submit" value="Submit">
        </form>
    </div>
    <div class="col-span-2" id="planetarium-pic-frame">
        <div id="right-panel-planetarium">
            <img src="../static/images/imageB.jpg" alt="kid playing with space toys">
        </div>
    </div>
</div>






<!-- <div class="page-image" style="margin-top: 150px;">
    <img src="../static/images/image5.jpg" height="286" width="490" alt="Plane-arium">
</div> -->

{% endblock %}