<!DOCTYPE html>
<html lang="">
<head>
    <title>Telescope Time Sign-Up</title>
    <link rel="stylesheet" href="../static/styles.css">
 </head>
<body>
    <h1 class="center-heading">Sign Up for Telescope Time</h1>
    <p>Complete the form below to reserve telescope time.</p>
    <h2>Reservation Details</h2>
    <form>
        <label for="date">Desired Start Date:</label>
        <input type="date" id="date" name="Desired Date"><br><br>

        <label for="time">Desired Start Time:</label>
        <input type="text" id="timeSlot" name="Desired Time Slot"><br><br>

        <input type="submit" value="Submit">
    </form>

    <h3>Back to Home</h3>
    <a href="/">Back to Home</a>

<div class="page-image">
        <img src="../static/images/image1.jpg" height="286" width="428" alt="Telescope">
</div>

<div class="logout-link">
    <a href="{{ url_for('logout') }}">Logout</a>
</div>

</body>
</html>
