{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h1 class="center-heading">Reserve A Telescope</h1>

<!-- Jinja2 sorcery to display flash messages -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="flash-messages">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<p class="text-center">Complete the form below to reserve telescope time.</p>

<div id="telescope-form">
    <form id="schedule-form" method="post"> <!--be sure to add this part if the user is submitting some data with the form-->
        <h2>Available Slots for West Telescope</h2>
        <h3 class="text-bold">Week of: </h3>
        <div>
            <label class="text-black" for="date">Select Preferred Date: </label>
            <p class="text-sm">Select date to show time slots for that week</p>
            <div class="flex-row">
                <input type="date" id="date" name="date" value="{{ selected_date }}" required>
                <button id="show-schedule" class="btn-orange rounded py-2 px-2" type="button" name="Show"
                    value="Show Schedule">Show Schedule</button>
            </div>
        </div>
    </form>
    <br><br>
    <form id="submit-form" method="post">
        <div id="dates-and-times">
            <!-- Dates And Times populated by javascript -->

        </div>
        <input type="submit" value="Submit">
    </form>
</div>
<!-- <div class="page-image">
        <img src="../static/images/image1.jpg" height="286" width="428" alt="Telescope">
</div> -->

{% endblock %}