{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<!-- Jinja2 sorcery to display flash messages -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="flash-messages">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<h1 class="center-heading mt-5">Reserve a Telescope</h1>
<p class="text-center">Complete the form below to reserve telescope time.</p><br>
<div class="content-container">

    <br>
    <p>Telescope time is given out by day, so you will have all day with our 5-meter reflector.
        You will also have access to our spectroscopy equipment and solar observation filter. We do 
        ask that you give us at least 48 hours notice for solar observation. This will give our techs 
        time to do the filter installation and conversion.<br><br>
        Please contact Marcus Brody to complete pre and post telescope usage reports.
    </p>
</div>
<div id="telescope-form">
    <form id="schedule-form" method="post"> <!--be sure to add this part if the user is submitting some data with the form-->
        <h2>Available Slots for the 5-meter Telescope</h2><br>
        <!-- <h3 class="text-bold">Week of: </h3> I commented this out-- "Week of" and "Select Preferred Date" 
            feel like they conflict -->
        <div>
            <label class="text-black" for="date">Select Preferred Date: </label>
            <p class="text-sm">Select "show schedule" to show time slots for each week, and choose 
                your slot by selecting the radio button and clicking "Submit." You will get a confirmation 
                popup on successful reservation.<br> <!-- If this is too wordy, trim as desired. -->
            </p>
            <div class="flex-row">
                <input type="date" id="date" name="date" value="{{ selected_date }}" required>
                <button id="show-schedule" class="btn-orange rounded py-2 px-2" type="button" name="Show"
                    value="Show Schedule">Show Schedule</button>
            </div>
        </div>
    </form>
    <br><br>
    <form id="submit-form" method="post">
        <div id="dates-and-times">
            <!-- Dates And Times populated by javascript -->

        </div>
        <br>
        <input type="submit" value="Submit">
    </form>
</div>
<!-- <div class="page-image">
        <img src="../static/images/image1.jpg" height="286" width="428" alt="Telescope">
</div> -->

{% endblock %}